:root{
    --primary_col:"";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    margin-top: 1em;
    gap: 1em;
}

input{
    height: 40px;
    width: 25vw;
    font-size: 1em;
    padding-left: 1em;
    border-radius: 10px;
}
#loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.hidden{
    display: none;
}
button{
    height: 40px;
    border-radius: 10px;
    width: 50px;
}
main{
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}
.today{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.futureHour{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 100%;
    width: 170%;
    justify-self: center;
    align-items: center;
    gap: 1em;

}
.futureweatherbox{
    border: 2px solid black;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px) {
    .futureDays{
    grid-template-columns: repeat(3,1fr);
    }

    input{
        width: 85vw;
    }
}

#searching{
    visibility: hidden;
}