:root{
    --primary_col:"";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    margin-top: 1em;
    gap: 1em;
}

input{
    height: 40px;
    width: 25vw;
    font-size: 1em;
}

button{
    height: 40px;
}
main{
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.today{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.futureDays{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 100%;
    width: 170%;
    justify-self: center;
    align-items: center;
    gap: 1em;
}
.futureweatherbox{
    border: 2px solid black;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px) {
    .futureDays{
    grid-template-columns: repeat(3,1fr);
    }

    input{
        width: 85vw;
    }
}

#searching{
    visibility: hidden;
}